html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.imagecontainer {
  background-color: cyan;
  width: 200px;
  height: 200px;
  padding: 10px;
}

.nftimage {
  object-fit: contain;
  max-height: 100%;
  width: auto;
  margin: auto;
  display: block;
}